{% load static %}
<meta charset="utf-8">
<title>Ecommerce | StarCode - Admin & Dashboard Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta content="Minimal Admin & Dashboard Template" name="description">
<meta content="StarCode Kh" name="author">
<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
<!-- Layout config Js -->
<script src="{% static 'assets/js/layout.js' %}"></script>
<!-- Icons CSS -->

<!-- StarCode CSS -->


<link rel="stylesheet" href="{% static 'assets/css/starcode2.css' %}">
<link rel="stylesheet" href="{% static 'assets_font_aw/css/all.min.css' %}">